In [173]:
import numpy as np
import pandas as pd
import math

In [174]:
data=pd.read_excel('oil.xlsx')
kij=pd.read_excel('k.xlsx')

In [175]:
data

,z,Tc,Pc,w,P,T,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,0.0006,126.20,33.98,0.0370,80.0,391.48,NaN,NaN,396427581.0
1,0.0324,304.20,72.80,0.2250,NaN,NaN,NaN,NaN,NaN
2,0.4157,373.20,88.20,0.1000,NaN,NaN,NaN,NaN,NaN
3,0.0555,190.56,45.99,0.0110,NaN,NaN,NaN,NaN,NaN
4,0.0241,282.34,50.41,0.0870,NaN,NaN,NaN,NaN,NaN
5,0.0439,364.90,46.00,0.1420,NaN,NaN,NaN,NaN,NaN
6,0.0118,407.85,36.40,0.1860,NaN,NaN,NaN,NaN,NaN
7,0.0278,425.12,37.96,0.2000,NaN,NaN,NaN,NaN,NaN
8,0.0187,460.39,33.81,0.2290,NaN,NaN,NaN,NaN,NaN
9,0.0170,469.70,33.70,0.2520,NaN,NaN,NaN,NaN,NaN
10,0.0334,507.60,30.25,0.3000,NaN,NaN,NaN,NaN,NaN
11,0.3191,837.60,15.58,0.7722,NaN,NaN,NaN,NaN,NaN

In [176]:
kij

,N2,CO2,H2S,CH4,C2,C3,IC4,NC4,IC5,NC5,NC6,C7+,Unnamed: 12
0,0,0.000,0.000000,0.000000,0.0000,0.0000,0,0.0000,0.0000,0.0000,0.0000,0.000000,N2
1,0,0.000,0.095000,0.000000,0.0000,0.0000,0,0.0000,0.0000,0.0000,0.0000,0.000000,CO2
2,0,0.095,0.000000,0.143907,0.0821,0.0868,0,0.0802,0.0726,0.0639,0.0592,0.051546,H2S
3,0,0.000,0.143907,0.000000,0.0000,0.0000,0,0.0000,0.0000,0.0000,0.0000,0.000000,CH4
4,0,0.000,0.082100,0.000000,0.0000,0.0000,0,0.0000,0.0000,0.0000,0.0000,0.000000,C2
5,0,0.000,0.086800,0.000000,0.0000,0.0000,0,0.0000,0.0000,0.0000,0.0000,0.000000,C3
6,0,0.000,0.000000,0.000000,0.0000,0.0000,0,0.0000,0.0000,0.0000,0.0000,0.000000,IC4
7,0,0.000,0.080200,0.000000,0.0000,0.0000,0,0.0000,0.0000,0.0000,0.0000,0.000000,NC4
8,0,0.000,0.072600,0.000000,0.0000,0.0000,0,0.0000,0.0000,0.0000,0.0000,0.000000,IC5
9,0,0.000,0.063900,0.000000,0.0000,0.0000,0,0.0000,0.0000,0.0000,0.0000,0.000000,NC5
10,0,0.000,0.059200,0.000000,0.0000,0.0000,0,0.0000,0.0000,0.0000,0.0000,0.000000,NC6
11,0,0.000,0.051546,0.000000,0.0000,0.0000,0,0.0000,0.0000,0.0000,0.0000,0.000000,C7+

In [177]:
T=data.iat[0,5]
P=data.iat[0,4] #bar#
R=8.314472*10**(-5) #m3*bar/mol*K
Tc=np.array(data['Tc'])
Pc=np.array(data['Pc'])
w=np.array(data['w'])
z=np.array(data['z'])
Pb=80
aL=pd.DataFrame(np.zeros((len(Tc),len(Tc))))
aV=pd.DataFrame(np.zeros((len(Tc),len(Tc))))

In [178]:
K=[]
y=[]
for i in range (0,len(Tc)):
    K=np.append(K,(Pc[i]/Pb)*math.exp(5.37*(1+w[i])*(1-Tc[i]/T))) #estimating K values from Wilson's Correlation
    y=np.append(y,K[i]*z[i])

In [179]:
#Bubble point calculation
SSF=12
n=0

while  SSF>10**(-18):
    if n>=1:
        K=[]
        y=[]
        for i in range (0,len(Tc)):
            K=np.append(K,φLi[i]/φVi[i])
            y=np.append(y,K[i]*z[i])
    α=[]
    bLi=[]
    bL=[]
    bVi=[]
    bV=[]
    for i in range (0,len(Tc)):  
        bLi=np.append(bLi,(0.0778*R*Tc[i])/Pc[i])
        bVi=np.append(bVi,(0.0778*R*Tc[i])/Pc[i])
        bL=np.append(bL,z[i]*bLi[i])
        bV=np.append(bV,y[i]*bVi[i])
        if w[i]<=0.491:
            m=0.37464+1.54226*w[i]-0.26992*w[i]*w[i]
            α=np.append(α,(1/Pc[i])*0.45724*(R*R)*(Tc[i]*Tc[i])*(1+m*(1-math.sqrt(T/Tc[i])))**2)
        else:
            m=0.379642+1.48503*w[i]-0.164423*w[i]*w[i]+0.016666*w[i]*w[i]*w[i]
            α=np.append(α,(1/Pc[i])*0.45724*(R*R)*(Tc[i]*Tc[i])*(1+m*(1-math.sqrt(T/Tc[i])))**2)
    for i in range (0,len(Tc)): 
        for j in range(0,len(Tc)):
            aL.iat[i,j]=z[i]*z[j]*(1-kij.iat[i,j])*math.sqrt(α[i]*α[j])
            aV.iat[i,j]=y[i]*y[j]*(1-kij.iat[i,j])*math.sqrt(α[i]*α[j])
    amL=aL.sum().sum()
    amV=aV.sum().sum()
    bmL=np.sum(bL)
    bmV=np.sum(bV)
    AL =(amL*Pb)/(R*T)**2
    AV=(amV*Pb)/(R*T)**2
    BL=(bmL*Pb)/(R*T)
    BV=(bmV*Pb)/(R*T)
    ZroL=np.array([1,BL-1,AL-2*BL-3*(BL*BL),(BL**3)+(BL**2)-AL*BL])
    ZroL=np.roots(ZroL)
    RealL=[]
    for i in range(len(ZroL)):
            if abs(ZroL[i].imag)<10**(-5):
                RealL=np.append(RealL, np.real(ZroL[i]))
    ZL=min(RealL[RealL>0])          
    ZroV=np.array([1,BV-1,AV-2*BV-3*(BV*BV),(BV**3)+(BV**2)-AV*BV])
    ZroV=np.roots(ZroV)
    RealV=[]
    for i in range(len(ZroV)):
            if abs(ZroV[i].imag)<10**(-5):
                RealV=np.append(RealV, np.real(ZroV[i]))
    ZV=max(RealV[RealV>0])
    lnφLi=[]
    φLi=[]
    fLi=[]
    lnφVi=[]
    φVi=[]
    fVi=[]
    SF=[]
    g1V=[]
    g1L=[]
    for i in range (0,len(Tc)):
        gL=[]
        gV=[]
        for j in range (0,len(Tc)):
            gL=np.append(gL,z[j]*math.sqrt(α[j])*(1-kij.iat[i,j]))
            gV=np.append(gV,y[j]*math.sqrt(α[j])*(1-kij.iat[i,j]))
        g1L=np.append(g1L,sum(gL))
        g1V=np.append(g1V,sum(gV))
        lnφL=-math.log(ZL-BL)+(ZL-1)*(bLi[i]/bmL)-(AL/(BL*(2**1.5)))*((2*math.sqrt(α[i])*g1L[i]/amL)-(bLi[i]/bmL))*math.log((ZL+BL*(2**0.5+1))/(ZL-BL*(2**0.5-1)))
        lnφV=-math.log(ZV-BV)+(ZV-1)*(bVi[i]/bmV)-(AV/(BV*(2**1.5)))*((2*math.sqrt(α[i])*g1V[i]/amV)-(bVi[i]/bmV))*math.log((ZV+BV*(2**0.5+1))/(ZV-BV*(2**0.5-1)))
        lnφLi=np.append(lnφLi,lnφL)
        lnφVi=np.append(lnφVi,lnφV)
        φLi=np.append(φLi,math.exp(lnφLi[i]))
        φVi=np.append(φVi,math.exp(lnφVi[i]))
        fLi=np.append(fLi,φLi[i]*Pb*z[i])   
        fVi=np.append(fVi,φVi[i]*Pb*y[i])  
        SF=np.append(SF,(1-(fLi[i]/fVi[i]))**2)
    SSF=sum(SF)
    Pb=Pb*sum(K*z)
    n=n+1

In [180]:
print ('Bubble point pressure is up to',Pb,'bar')

Bubble point pressure is up to 81.74215634971806 bar

In [181]:
component=np.array(kij['Unnamed: 12'])
x=pd.DataFrame(y,columns=['vapor mole fraction'])
x['component']=component
x

    vapor mole fraction component
0              0.004004        N2
1              0.064367       CO2
2              0.579212       H2S
3              0.212146       CH4
4              0.049771        C2
5              0.045740        C3
6              0.008166       IC4
7              0.015986       NC4
8              0.007337       IC5
9              0.005934       NC5
10             0.007259       NC6
11             0.000077       C7+